---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <p>Paul Bacchus (WIP)</p>
  <p><a href="https://github.com/psb">GitHub</a></p>
  <p><a href="https://www.linkedin.com/in/paulsbacchus">LinkedIn</a></p>
  <p><a href="https://dev.to/psb">Dev.to Blog</a></p>
</Layout>

<style>
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
